@page
@model IndexModel
@{
    ViewData["Title"] = "Укоротитель ссылок";
}

<form method="post">
    <label>Введите ссылку:</label>
    <input name="url" type="text"/>
    <input type="submit" />
</form>

<div>
    <p>
        @Model.NewUrl
    </p>
</div>