@page "/{newUrl?}"
@model IndexModel
@{
    ViewData["Title"] = "Укоротитель ссылок";
}

<form method="post">
    <label>Введите ссылку:</label>
    <input name="url" type="text"/>
    <input type="submit" />
</form>

<div>
    <p>
        @Model.NewUrl
    </p>
    <img width="500" height="500" src="@Model.QR">
        
    </img>
</div>